#!include:.gitignore
/test/
!/lib/
!/client/build

.commitlintrc.js
.editorconfig
.eslintignore
.eslintrc.yml
.gcloudignore
.gitattributes
.gitignore
.huskyrc.json
.nycrc
.travis.yml
.git
README.md
nodemon.json
travis-ci-secret*

!webpack-assets.json
